<ion-header>
    <ion-toolbar>
        <ion-title translate>Подробнее</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item text-wrap [routerLink]="['/tabs/allAd/subscription']" *ngIf="isNotFound && isLoad" lines="none">
            <ion-label text-wrap>
                <h2 translate>Объявление удалено.</h2>
            </ion-label>
        </ion-item>

        <ion-item text-wrap lines="none" *ngIf="!isLoad">
            <ion-label text-wrap>
                <ion-skeleton-text animated style="width: 40%; height: 14px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%; height: 16px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 40%; height: 16px"></ion-skeleton-text>
            </ion-label>
        </ion-item>


        <ion-item text-wrap *ngFor="let field of fields; let i = index" lines="none">
            <ion-label text-wrap>
                <ion-text color="medium" *ngIf="i==0">
                    <p>{{note.dateCreate | date:'HH:m dd.MM.y'}}</p>
                </ion-text>
                <ion-text color="medium" *ngIf="i!=0">
                    <p>{{field.label}}</p>
                </ion-text>

                <h2>{{ note[field.name] }} &nbsp;</h2>
            </ion-label>
        </ion-item>

        <rtp-responses-list [id]="id" *ngIf="!isNotFound"></rtp-responses-list>
    </ion-list>

</ion-content>