<ion-header>
    <ion-toolbar>
        <ion-title translate>Подробнее</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item text-wrap *ngFor="let field of fields; let i = index" lines="none">
            <ion-label text-wrap>
                <ion-text color="medium" *ngIf="i==0">
                    <p>{{note.dateCreate | date:'HH:m d.MM.y'}}</p>
                </ion-text>
                <ion-text color="medium" *ngIf="i!=0">
                    <p>{{field.label}}</p>
                </ion-text>

                <h2>{{ note[field.name] }}</h2>
            </ion-label>
        </ion-item>

        <rtp-responses-list [id]="id"></rtp-responses-list>
    </ion-list>


</ion-content>