<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>Новое объявление</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked" translate>Категория</ion-label>
    <ion-select [(ngModel)]="note.category" [okText]="'ОК' | translate" [cancelText]="'Отмена' | translate"
      [placeholder]="'выберите из списка' | translate">
      <ion-select-option *ngFor="let category of categoryList" [value]="category">{{category}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" translate>Описание</ion-label>
    <ion-textarea rows="6" [(ngModel)]="note.job" [placeholder]="'Опишите подробно задачу' | translate">
    </ion-textarea>
  </ion-item>

  <ion-button color="primary" expand="block" (click)="addNote(note)" translate>Отправить</ion-button>
</ion-content>