<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/system/offers"></ion-back-button>
        </ion-buttons>
        <ion-title translate>add</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <ion-item>
            <ion-label position="stacked" translate>category</ion-label>
            <ion-select
                    mode="ios"
                    name="category"
                    ngModel
                    required="true"
                    [okText]="'ok' | translate"
                    [cancelText]="'cancel' | translate"
                    [placeholder]="'select' | translate">
                <ion-select-option
                        *ngFor="let category of categoryList$ | async"
                        [value]="category">

                    {{category}}

                </ion-select-option>
            </ion-select>
        </ion-item>



            <ion-item [hidden]="!form.value.category">
                <ion-label position="stacked" translate>city</ion-label>
                <!--<ion-select
                        mode="ios"
                        name="city"
                        ngModel
                        required="true"
                        [okText]="'ok' | translate"
                        [cancelText]="'cancel' | translate"
                        [placeholder]="'select' | translate"

                >
                    <ion-virtual-scroll [items]="cityList">

                        <ion-select-option
                                *virtualItem="let city  "
                                [value]="city">
                            {{city}}
                        </ion-select-option>

                    </ion-virtual-scroll>
                </ion-select>-->
                <ion-input
                        name="city"
                        [(ngModel)]="city"
                        readonly
                        (click)="choiseCity(form)"
                        [required]="true"
                        type="text">
                </ion-input>
            </ion-item>
            <ion-item [hidden]="!form.value.category">
                <ion-label position="stacked" translate>photo</ion-label>
                <rtp-form-upload count=1 [(files)]="photo"></rtp-form-upload>
            </ion-item>


            <ion-item [hidden]="!form.value.category">
                <ion-label position="stacked" translate>title</ion-label>
                <ion-input
                        name="name"
                        ngModel
                        [required]="true"
                        type="text">
                </ion-input>
            </ion-item>

            <ion-item [hidden]="!form.value.category">
                <ion-label position="stacked" translate>price</ion-label>
                <ion-input
                        name="price"
                        ngModel
                        [required]="true"
                        type="number">
                </ion-input>
            </ion-item>

            <ion-item [hidden]="!form.value.category">
                <ion-label position="stacked" translate>description</ion-label>

                <ion-textarea
                        name="description"
                        ngModel
                        [required]="true"
                        [rows]="5">

                </ion-textarea>
            </ion-item>

        <ion-button [hidden]="!form.value.category"  color="primary" expand="block" type="submit" [disabled]="form.invalid" translate>send
        </ion-button>

    </form>
</ion-content>

