<ng-container *ngIf="user | async as userData; else loading">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>

            <ion-item lines="none" no-padding>
                <ion-avatar slot="start">
                    <img [src]="userData.data?.img ? userData.data.img[0] || noUserImageUrl : noUserImageUrl" alt="">
                </ion-avatar>
                <ion-label>
                    <ion-text><p translate>{{userData?.data?.fio || 'noFio'}}</p></ion-text>
                    <ion-text><p translate style="color: #1A70FF">{{userData?.data?.login || 'noLogin'}}</p></ion-text>
                </ion-label>
            </ion-item>
            <ion-buttons slot="end">
                <ng-container *ngIf="(favor|async) as fav; else noFavorite">
                    <ion-button (click)="toggleFavorite(true)">
                        <ion-icon class="heart" name="heart"></ion-icon>
                    </ion-button>
                </ng-container>
                <ng-template #noFavorite>
                    <ion-button (click)="toggleFavorite(false)">
                        <ion-icon class="heart" name="heart-empty"></ion-icon>
                    </ion-button>
                </ng-template>
                <ion-button (click)="share()">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>


        <ion-grid class="row">
            <ion-row justify-content-start>
                <ion-thumbnail [routerLink]="['/system/offers/offer',offer.id]"
                               *ngFor="let offer of offerList$ | async | dateCreateOffer ">
                    <img alt="" [src]="offer.data.arImg ? offer.data.arImg[0] || noImageUrl : noImageUrl">
                </ion-thumbnail>

            </ion-row>
        </ion-grid>
    </ion-content>
</ng-container>
<ng-template #loading>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>
                <ion-avatar slot="start">
                    <img [src]="noUserImageUrl">
                </ion-avatar>
                <ion-text><p translate>noFio</p></ion-text>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="empty=!empty">
                    <ion-icon name="heart-empty"></ion-icon>
                </ion-button>
                <ion-button (click)="share()">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content padding>

    </ion-content>
</ng-template>
