<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/system/profile/favorite"></ion-back-button>
        </ion-buttons>
        <ng-container *ngIf="user | async as userData; else loadingHeader">
            <ion-item lines="none" no-padding>
                <ion-avatar slot="start">
                    <img [src]="userData.data?.img ? userData.data.img[0] || noUserImageUrl : noUserImageUrl" alt="">
                </ion-avatar>
                <ion-label>
                    <ion-text><p translate>{{userData?.data?.fio || 'noFio'}}</p></ion-text>
                    <ion-text><p translate style="color: #1A70FF">{{userData?.data?.login || 'noLogin'}}</p></ion-text>
                </ion-label>
            </ion-item>
            <ion-buttons slot="end">
                <ng-container *ngIf="(favor|async) as fav">
                    <ion-button (click)="toggleFavorite(fav.res)">
                        <ion-icon [ngClass]="{'heart': fav.res }"
                                  [name]="'heart'+ (fav.res ? '' :'-empty')"></ion-icon>
                    </ion-button>
                </ng-container>
                <ion-button (click)="share(userData)">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-container>
        <ng-template #loadingHeader>
            <ion-item lines="none" no-padding>
                <ion-avatar slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <ion-text>
                        <p translate>
                            <ion-skeleton-text></ion-skeleton-text>
                        </p>
                    </ion-text>
                    <ion-text>
                        <p translate style="color: #1A70FF">
                            <ion-skeleton-text></ion-skeleton-text>
                        </p>
                    </ion-text>
                </ion-label>
            </ion-item>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-skeleton-text></ion-skeleton-text>
                </ion-button>

                <ion-button>
                    <ion-icon name="arrow-round-up"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-template>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ng-container *ngIf="user | async as userData; else loadData">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>


        <ion-grid class="row">
            <ion-row justify-content-start>
                <ion-thumbnail [routerLink]="['/system/offers/offer',offer.id]"
                               *ngFor="let offer of offerList$ | async | dateCreateOffer ">
                    <img alt="" [src]="offer.data.arImg ? offer.data.arImg[0] || noImageUrl : noImageUrl">
                </ion-thumbnail>

            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-template #loadData>
        <ion-skeleton-text></ion-skeleton-text>
    </ng-template>
</ion-content>

