<ion-item lines="full" no-padding style="--inner-padding-end: 0px;">
  <ion-avatar slot="start">
    <img src="{{user?.data?.img ? user.data.img[0] || noUserImageUrl : noUserImageUrl}}">
  </ion-avatar>
  <ion-label>
    <ion-text><p translate>{{user?.data?.fio || 'noFio'}}</p></ion-text>
    <ion-row>
      <ion-col no-padding>
        <ion-button [disabled]="!user?.data?.phone" expand="block" fill="outline" href="tel:{{user?.data?.phone}}" translate>call</ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button expand="block" fill="outline" [routerLink]="'/chat/'+user?.id"
                    translate>write
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>
