<ion-header>
  <ion-toolbar>
    <ion-title>Баланс</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap>
      <ion-label text-wrap>
        <ion-text color="medium">
          <p>Баланс</p>
        </ion-text>
        <h2>{{currentBalance}} рублей</h2>
      </ion-label>
      <ion-button color="primary" fill="outline" size="default" translate (click)="add()">
        Пополнить
      </ion-button>
    </ion-item>

    <ion-list-header color="primary" *ngIf="historyList && historyList.length>0">
      <ion-label translate>История операций</ion-label>
    </ion-list-header>

    <ion-item text-wrap *ngFor="let item of historyList | async">
      <ion-label text-wrap>
        <ion-text color="medium">
          <p>{{item.dateCreate | date:'HH:mm d.MM.y'}}</p>
        </ion-text>
        <h2>{{item.title}}</h2>
        <p>{{item.detail}}</p>
      </ion-label>
      <ion-text slot="end">
        {{item.sum}}
      </ion-text>
    </ion-item>

  </ion-list>
</ion-content>