<ion-header>
  <ion-toolbar>
    <ion-title translate>Мастера</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/people/peopleedit']">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let note of peopleList | async; trackBy: trackByFn">
      <ion-thumbnail slot="start">
        <img [src]="note.img[0]" *ngIf="note.img">
        <img src="assets/user.png" *ngIf="!note.img">
      </ion-thumbnail>

      <ion-label text-wrap>
        <div [routerLink]="['/tabs/people/peopledetail', note.key]">
          <ion-text color="medium">
            <p>{{ note.category}}</p>
          </ion-text>
          <h2>{{ note.fio }}</h2>
          <ion-text color="medium">
            <p>{{ note.title }}</p>
          </ion-text>
        </div>
        <ion-button fill="outline" href="tel:{{ note.phone }}" translate>Позвонить</ion-button>
        <ion-button fill="outline" [routerLink]="['/chat', note.user]" translate>Написать</ion-button>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>