<ng-container *ngIf="( offers |async) as offersList; else nodata">
    <ion-item lines="full" *ngFor="let offer of offersList" [detail]="false">

        <ion-thumbnail [routerLink]="['offer',offer.id]" slot="start" class="thumbnail">
            <img alt=""
                 [src]="offer.data.arImg && offer.data.arImg[0] ? offer.data.arImg[0] || noImageUrl : noImageUrl">
        </ion-thumbnail>

        <ion-label text-wrap [routerLink]="['offer',offer.id]">
            <ion-text class="ion-text-nowrap" color="medium">
                <p text-nowrap class="offer-item__date">{{offer.data.dateCreate | date: 'dd.MM.y HH:mm'}}</p>
            </ion-text>
            <h2 text-nowrap class="offer-item__name">{{offer.data.name}}</h2>
            <ion-text color="medium">
                <p text-nowrap class="offer-item__category">{{offer.data.category}}</p>
            </ion-text>
        </ion-label>
        <ion-buttons slot="end" style="
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    ">
                 <ion-icon slot="end" name="trash"  (click)="presentAlert(offer)"></ion-icon>

<!--            <ion-label style="    margin: 10px;"  ><p style="font-size: 11px ; " translate>edit</p></ion-label>-->

        </ion-buttons>

    </ion-item>
</ng-container>
<ng-template #nodata>
    <ion-text *ngIf="!offers" text-center><h3 translate>no_offers</h3></ion-text>
</ng-template>
