<div text-center>

  <ion-item no-padding>
    <ion-label position="stacked" translate>phone</ion-label>
    <ion-input [readonly]="confirmationResult" [placeholder]="'phone_placeholder'|translate" inputmode="numeric" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <ion-item no-padding *ngIf="confirmationResult">
    <ion-label position="stacked" translate>confirmation_code</ion-label>
    <ion-input placeholder="******" inputmode="numeric" [(ngModel)]="code"></ion-input>
  </ion-item>

  <ion-button *ngIf="!confirmationResult" expand="full" shape="round" color="primary" id="sign-in-button" (click)="applyPhone()">
    <span slot="end" translate>viaSMS</span>
    <ion-icon slot="start" size="small" name="mail"></ion-icon>
  </ion-button>

  <ion-button *ngIf="confirmationResult" expand="full" shape="round" color="primary" (click)="applyCode()">
    <span slot="end" translate>login</span>
  </ion-button>

  <ion-button *ngIf="confirmationResult" expand="full" shape="round" color="light" (click)="cancel()">
    <span slot="end" translate>cancel</span>
  </ion-button>
</div>

<div id="recaptcha-container"></div>
