<ion-header>
  <ion-toolbar>
    <ion-title translate>Меню</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item [routerLink]="['/system/profile/user-edit']">
      <ion-label text-wrap>
        <h2 >Профиль</h2>
        <ion-text color="medium">
          <p> Редактирование профилья пользователя</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item  [routerLink]="['/auth']">
      <ion-label text-wrap>
        <h2 translate>Авторизация</h2>
        <ion-text color="medium">
          <p translate>Чтобы не потерять свои объявления, а также авторизоваться на другом устройстве.</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/system/profile/agreement']">
      <ion-label text-wrap>
        <h2 translate>Пользовательское соглашение</h2>
        <ion-text color="medium">
          <p translate>Пользовательское соглашение описание</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/system/profile/about']">
      <ion-label text-wrap>
        <h2 translate>О сервисе</h2>
        <ion-text color="medium">
          <p translate>О сервисе описание</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
