<ion-tabs >

  <ion-tab-bar *ngIf="tabsBarShow$ | async" slot="bottom">
    <ion-tab-button tab="my-offers">
      <ion-icon name="star"></ion-icon>
      <ion-label translate>Мои</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon name="list-box"></ion-icon>
      <ion-label translate>Все</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dialog">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label >Сообщения</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="menu"></ion-icon>
      <ion-label translate>Меню</ion-label>
      <ion-badge color="danger" *ngIf="countBadge>0" >{{ countBadge }}</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
