<ion-header>
  <ion-toolbar>
    <ion-title translate>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user.data">

    <ion-item lines="full">
      <ion-label position="stacked" translate>photo</ion-label>
      <rtp-form-upload count=1 [(files)]="user.data.img"></rtp-form-upload>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked" translate>fio</ion-label>
      <ion-textarea required maxlength="60" rows="2" [(ngModel)]="user.data.fio"></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked" translate>login</ion-label>
      <ion-textarea required maxlength="25" minlength="4" rows="2"  pattern="[A-a]" [(ngModel)]="user.data.login"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label translate>call_root</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="user.data.permissionCall"></ion-checkbox>
    </ion-item>
    <ion-button color="primary mt20" expand="block" [disabled]="!( user.data.login && user.data.login.length >= 4 && user.data.login.length <= 25) || (!user.data.fio && user.data.fio.length>=4 && user.data.fio.length<=60)" (click)="editUser(user)" translate>send</ion-button>
  </ion-list>
</ion-content>
