<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269788389042-csm0v99agendin8t6tplllfr8dtjlo8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269788389042-csm0v99agendin8t6tplllfr8dtjlo8l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269788389042-f465rt7olcntp3ash0qaqu3t90oaj1pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI-Ss-1LuTOLQiRFcCqnnslZyO66E65L0</string>
	<key>GCM_SENDER_ID</key>
	<string>269788389042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.rubbibox.app</string>
	<key>PROJECT_ID</key>
	<string>rubbibox-3597d</string>
	<key>STORAGE_BUCKET</key>
	<string>rubbibox-3597d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269788389042:ios:423cee960dfe465d</string>
	<key>DATABASE_URL</key>
	<string>https://rubbibox-3597d.firebaseio.com</string>
</dict>
</plist>
