<ion-header>
  <ion-toolbar>
    <ion-title translate>settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'system/profile'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/system/profile/settings/agreement']">
      <ion-label text-wrap>
        <h2 translate>agreement</h2>
        <ion-text color="medium">
          <p translate>agreement_desc</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/system/profile/settings/about']">
      <ion-label text-wrap>
        <h2 translate>service_about</h2>
        <ion-text color="medium">
          <p translate>service_about_desc</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
