<ion-item>

    <ion-thumbnail slot="start" class="thumbnail">
        <img src="{{offerItem.imgUrl || noImageUrl}}">
    </ion-thumbnail>


    <ion-label text-wrap>
        <ion-text class="ion-text-nowrap" color="medium">
            <p text-nowrap class="offer-item__date">{{offerItem.dateCreate}}</p>
        </ion-text>
        <h2 text-nowrap class="offer-item__name">{{offerItem.name}}</h2>
        <h2 text-nowrap class="offer-item__price">{{offerItem.price ? offerItem.price + ' ₽' : noPriceText}}</h2>
        <ion-text color="medium">
            <p text-nowrap class="offer-item__category">Категория: {{offerItem.category}}</p>
        </ion-text>
    </ion-label>

</ion-item>
