.my_row_message {
  float: right;
  width: 100%;
  div {
    max-width: calc(100vw - 52px);
    width: auto;
  }
  flex-direction: row-reverse;
}
.row_message {
  div {
    max-width: calc(100vw - 52px);
    width: auto;
  }
  width: 100%;
}
.scroll-content {
  display: flex;
}
.gridMessages {
  margin-top: auto;
  margin-bottom: 0;
}
.user_name {
  color: #afafaf;
}
.message {
  width: 100%;
  padding: 10px !important;
  transition: all 250ms ease-in-out !important;
  border-radius: 20px !important;
  margin-bottom: 4px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 4px !important;
  background-color: #e5f6fe;
  flex-wrap: wrap;
  word-wrap: break-word;

}
.my_message {
  max-width: calc(100vw - 52px);
  color: #000 !important;
}
.other_message {
  color: #000 !important;
}
.time {
  color: #afafaf;
  font-size: small;
  text-align: left;
}
.mytime {
  color: #afafaf;
  font-size: small;
  text-align: right;
}
.message_row {
  background-color: #fff;
}

.footerToolbar {
  --padding-start: 8px;
  --padding-end: 8px;
}

.dateGroup {
  text-align: center;
}
.textarea{
  margin-bottom: 10px;
  /deep/ textarea{
    max-height: 90px;
  }
}
