<input class="file_upload" #file type="file" (change)="selectFile($event)">
<ion-row align-items-center>
  <ion-col align-self-start *ngFor="let file of getFiles()" size="auto" (click)="removeFile(file)">
    <img height="60px" [src]="file">
  </ion-col>

  <ion-col align-self-center size="auto" (click)="focus($event, file)" padding *ngIf="isLoadImage()">
        <ion-icon name="cloud-download" size="large" color="primary"></ion-icon>
    </ion-col>  
  <ion-col align-self-end>    
  </ion-col>
</ion-row>
