<ion-header>
    <ion-toolbar>
        <ion-title>Фильтр</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onClickClose()">Готово</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item *ngFor="let cat of categoryList">

            <ion-label text-wrap>
                <h2>{{cat.name}}</h2>
            </ion-label>
            <ion-toggle color="primary" [(ngModel)]="cat.toggle"></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content>
