<ion-header>
    <ion-toolbar>
        <ion-title translate>filter</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onClickClose()" translate>Отмена</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
<ion-item>
    <ion-input placeholder="Введите город..."  [(ngModel)]="citySearch"></ion-input>
</ion-item>
        <ion-item *ngFor="let city of cityList | cityFilter:citySearch" >

            <ion-label text-wrap (click)="onClickClose()">
                <h2>{{city.name}}</h2>
            </ion-label>
            <!--<ion-toggle color="primary" [(ngModel)]="cat.toggle"></ion-toggle>-->
        </ion-item>
       <!-- <ion-item *ngFor="let cat of categoryList">

            <ion-label text-wrap>
                <h2>{{cat.name}}</h2>
            </ion-label>
            <ion-toggle color="primary" [(ngModel)]="cat.toggle"></ion-toggle>
        </ion-item>-->
    </ion-list>

</ion-content>
