<ion-header>
    <ion-toolbar>
        <ion-title translate>filter</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onClickApply()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
            <ion-button (click)="onClickRefresh()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-card>

            <ion-card-header>
                Категории
            </ion-card-header>
            <ion-virtual-scroll [items]="categoryList" approxItemHeight="100%">
                <ion-item *virtualItem="let cat;">
                    <ion-label text-wrap>
                        <h2>{{cat.name}}</h2>
                    </ion-label>
                    <ion-toggle color="primary" [(ngModel)]="cat.toggle"></ion-toggle>
                </ion-item>
            </ion-virtual-scroll>
        </ion-card>
        <ion-card>
            <ion-card-header>
                Города
            </ion-card-header>
            <ion-item>
                <ion-input placeholder="Введите город..." [(ngModel)]="search"></ion-input>
                <ion-icon name="search" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="region">
                <ion-icon name="arrow-back" slot="start"></ion-icon>
                <ion-label text-wrap (click)="onClickBack()">
                    <h2>{{region}}</h2>
                </ion-label>
            </ion-item>
            <ion-virtual-scroll [items]="cityList| cityFilter:{search:search, city: city}" *ngIf="region" approxItemHeight="100%">

                <ion-item *virtualItem="let item;">

                    <ion-label text-wrap>
                        <h2>{{item.city}}</h2>
                    </ion-label>
                    <ion-radio slot="start" mode="ios" (click)="onClickCity(item.city)"
                               [checked]="item.city === city"></ion-radio>

                </ion-item>
            </ion-virtual-scroll>
            <ion-virtual-scroll [items]="regionList| cityFilter:{search:search, city: city}" *ngIf="!region" approxItemHeight="100%">

                <ion-item *virtualItem="let item;">

                    <ion-label text-wrap (click)="onClickRegion(item)">
                        <h2>{{item}}</h2>
                    </ion-label>
                </ion-item>
            </ion-virtual-scroll>
        </ion-card>

    </ion-list>

</ion-content>
