<ion-header>
  <ion-toolbar>
    <ion-title translate>Фильтр</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

      <ion-item >
        <ion-label text-wrap>
          <h2>Категория 1</h2>
        </ion-label>
        <ion-toggle color="primary"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label text-wrap>
          <h2>Категория 2</h2>
        </ion-label>
        <ion-toggle color="primary"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label text-wrap>
          <h2>Категория 3</h2>
        </ion-label>
        <ion-toggle color="primary"></ion-toggle>
      </ion-item>

    </ion-list>



  <!--  <ion-list>-->
<!--    <ion-item *ngFor="let category of categoryList | async">-->
<!--      <ion-label text-wrap>-->
<!--        <h2>{{category.name}}</h2>-->
<!--        <ion-label color="tertiary" *ngIf="price[category.name]>0">-->
<!--          <h3>Подписка платная, {{price[category.name]}} рублей/месяц</h3>-->
<!--        </ion-label>-->
<!--        <ion-label color="danger" *ngIf="isLoad && price[category.name]>0 && setting[category.name] && pay[category.name]==false">-->
<!--          <h3>Недостаточно средств для покупки подписки.</h3>-->
<!--        </ion-label>-->
<!--        <p>{{category.description}}</p>-->
<!--      </ion-label>-->
<!--      <ion-toggle *ngIf="isLoad" color="primary" [checked]="setting[category.name]"-->
<!--        (ionChange)="changeSubscription($event, category)"></ion-toggle>-->
<!--    </ion-item>-->
<!--  </ion-list>-->

</ion-content>
