<ion-header>
  <ion-toolbar>
    <ion-title translate>Подписки</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of categoryList | async">
      <ion-label text-wrap>
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
      </ion-label>
      <ion-toggle color="primary" checked="{{ setting.indexOf(category.name) >= 0 }}"
        (ionChange)="changeSubscription($event, category)"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>