ion-grid{
  --ion-grid-padding:5px 5px;
}
ion-title {

}

#icon {
  color: #575757;
}

ion-thumbnail:nth-child(3n-1)  {

  --size: calc(33.33vw - 1px);


  width: var(--size);
  height: var(--size);
  margin: 0px 0px;
  margin-left: 1px;
  margin-bottom: 1px;
}

ion-thumbnail {
  --size: calc(33.33vw - 1px);


  width: var(--size);
  height: var(--size);
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 1px;
}

.offer{
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;

  }
  &__item {
    --size: calc(33.33vw - 10px);
    width: var(--size);
    height:var(--size);

    margin-bottom: 1px;
  }
}
