<ion-header>
    <ion-toolbar mode="ios">
        <ng-container *ngIf="!isOpenSearch else search">
            <ion-buttons  (click)="onClickSearchOpen()" slot="start" style="    margin-left: 5px;    margin-top: 3px;">
                <ion-icon name="search"  style="font-size: 22px"></ion-icon>
            </ion-buttons>
            <ion-buttons *ngIf="isOpenSearch"  slot="start" style="    margin-left: 5px;">
                <ion-searchbar></ion-searchbar>
            </ion-buttons>
            <ion-title translate>search</ion-title>
        </ng-container>
        <ng-template #search>
            <div class="flex middle-xs search-container">
                <ion-searchbar mode="ios" [(ngModel)]="searchString"></ion-searchbar>
                <ion-icon name="close" size="large" class="fs32"  style="margin-right: 20px;" (click)="onClickSearchClose()"></ion-icon>
            </div>
        </ng-template>
        <ion-buttons (click)="onClickFilterModalOpen()" slot="end" style="    margin-right: 5px;   margin-top: 3px;">
            <ion-icon name="switch" [ngClass]="{'green': filtred }" size="large" id="icon"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-grid class="row">
        <ion-row justify-content-start >
            <ion-thumbnail [routerLink]="['offer',offer.id]"
                           *ngFor="let offer of offerList$ | async | dateCreateOffer | cityCatFilter: citySearch| categoryFilter: filterParam | search: searchString">
                <img src="{{offer.data.arImg ? offer.data.arImg[0] || noImageUrl : noImageUrl}}">
            </ion-thumbnail>

        </ion-row>
    </ion-grid>



</ion-content>
