<ion-header>
    <ion-toolbar>
        <ion-title>Все объявления</ion-title>
    </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickFilterModalOpen()">
        <ion-icon name="switch"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>

    <ion-list lines="full">
        <app-offer-list-item
                *ngFor="let offer of offerList$ | async | categoryFilter:filterParam"
                [offerItem]="offer.data"
                [routerLink]="['offer',offer.id]"
        ></app-offer-list-item>
    </ion-list>


</ion-content>
