ion-grid{
  --ion-grid-padding:5px 5px;
}
ion-title{

}
.offer{
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;

  }
  &__item {
    --size: calc(33.33vw - 10px);
    width: var(--size);
    height:var(--size);

    margin-bottom: 1px;
  }
}
