<ion-item detail="true" slot="start" lines="none" style="width: auto;display: inline-flex;max-width: 100%">
    <ion-avatar slot="start">
        <img src="{{user?.data?.img ? user.data.img[0] || noUserImageUrl : noUserImageUrl}}">
    </ion-avatar>
    <ion-label style="    ">
        <ion-text><p style="margin: 0;padding-right: 10px;">{{user?.data?.fio || 'profile' | translate}}</p></ion-text>
        <ion-text color="medium"><p style="margin: 0;padding-right: 10px;font-size: 11px" translate>edit</p></ion-text>
    </ion-label>
</ion-item>
