// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'assets/css/main';

* {
  outline: none;
}
.avatar{
  &.md{
    margin-right: 10px;
  }
  &.ios {
    margin-left: 6px;
    margin-right: 10px;

  }
}
.bg-cl-gray{
  background-color: #66666633;
}
.heart {
  color: red;
}

.buttons-control {
  ion-button {
    color: black;
  }
}
.photo{
  &.form{
    padding: 10px 0;
  }
}
ion-header{
  height: 47px !important;
  max-height: 47px !important;
  min-height: 47px !important;
  ion-toolbar{
    height: 100% !important;
    display: flex;
    align-items: center;
  }
}
