<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title translate>favoriten</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="myFavorites |async as data; else LoadindgData">
        <ion-list lines="none">
            <app-favorite-adds *ngIf="data.adds" [data]="data.adds"
                               (delete)="deleteFavorite($event)"></app-favorite-adds>
            <app-favorite-users *ngIf="data.users" [data]="data.users"
                                (delete)="deleteFavorite($event)"></app-favorite-users>


        </ion-list>
    </ng-container>
    <ng-template #LoadindgData>
        <ion-skeleton-text></ion-skeleton-text>
    </ng-template>
</ion-content>
