<ion-tabs >

    <ion-tab-bar style="    height: 44px;" *ngIf="enable" slot="bottom">

        <ion-tab-button tab="offers">
            <ion-thumbnail style="--border-radius: 5px; padding: 10px">
                <img alt="" src="/assets/icon.png">
            </ion-thumbnail>
        </ion-tab-button>


        <ion-tab-button tab="offers/add">
            <ion-icon name="add-circle"></ion-icon>
        </ion-tab-button>


        <ion-tab-button tab="dialogs">
            <ion-icon name="chatboxes"></ion-icon>
        </ion-tab-button>


        <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>

<!--<ion-badge color="danger" *ngIf="countBadge>0">{{ countBadge }}</ion-badge>-->
